.bit-button {
    display: grid;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 2px #fff;
    cursor: pointer;    

    &:hover {
        opacity: 0.5;
    }
}