@use "@angular/material" as mat;

:host {
  display: grid;
  justify-content: center;
}

.form-card {
  padding: 0 1rem 1rem 1rem;

  mat-card-header {
    margin-bottom: 1rem;
  }

  &.invalid {
    @include mat.card-overrides(
      (
        outlined-outline-color: #f8d7da,
      )
    );
  }

  &.valid {
    @include mat.card-overrides(
      (
        outlined-outline-color: #d4edda,
      )
    );
  }
}

.status-bar {
  margin-top: 1rem;

  &.invalid {
    color: #721c24;
    @include mat.card-overrides(
      (
        elevated-container-color: #f8d7da,
      )
    );
  }

  &.valid {
    color: #155724;
    @include mat.card-overrides(
      (
        elevated-container-color: #d4edda,
      )
    );
  }
}

mat-card-actions {
  padding: 1rem;
}
