<div class="home-wrapper grid">
  <div
    [formGroup]="groupForm"
    class="form-wrapper"
    [ngClass]="{ invalid: groupForm.invalid }"
  >
    <ng-container formArrayName="arrayForms">
      @for (ctrl of arrayForms.controls; track ctrl.value; let i = $index) {
        <div [formGroupName]="i">
          <input-name
            formControlName="inputName"
            (onRemoveItemClick)="onRemoveItemClick(i)"
          ></input-name>
        </div>
      }
    </ng-container>
  </div>

  <div class="action-wrapper">
    <span
      class="material-icons bit-button"
      (click)="onAddItemClick()"
      matTooltip="Add Item"
    >
      add
    </span>
  </div>
</div>

<pre>Form dirty: {{ groupForm.dirty | json }}</pre>
<pre>Form invalid: {{ groupForm.invalid | json }}</pre>
