<div [formGroup]="inputNameForm" class="input-name grid">
  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input matInput placeholder="Vorname" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input matInput placeholder="Nachname" formControlName="lastName" />
  </mat-form-field>

  <button mat-fab (click)="onRemoveClick()" color="primary">
    <mat-icon>delete</mat-icon>
  </button>
</div>
